.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    font-weight: 700;
    font-size: 17px;
    
}

.subcontainer{
    background-color: rgba(130, 27, 226, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    gap: 10px;
    padding: 20px;
    width: 500px;
    height: 600px;
    box-shadow: 10px 5px 5px black;



}

.button{
    margin-top: 10px;
    background: blueviolet;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.button:hover{
    background: rgb(117, 28, 201);
    cursor: pointer;
}